.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    display: flex;
}

.header__menu {
    padding: 20px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    list-style: none;
}

.header__menu li {
    font-family: var(--roboto-flex);
    color: var(--primary-text);
    padding: 10px;
    margin-right: 15px;
    list-style: none;
}

.header_menu li:link, .header_menu li:visited {
    text-decoration: none;
}
