.about {
    color: #fff;
    font-family: var(--roboto-flex);
}

.about__block {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.about__block--info {
    padding-right: 45px;
    padding-left: 35px;
}

.about__block--info h1 {
    font-size: 65px;
}

.about__block--info h2 {
    font-size: 40px;
    font-weight: 500;
}

.about__block--info h3 {
    font-size: 25px;
    font-weight: 150;
    color: var(--secondary-color);
}

.about__block--desc {
    padding-top: 45px;
    max-width: 600px;
    font-size: 30px;
    font-weight: 100;
}

.about__block--desc span {
    color: var(--secondary-accent-color);
}

.about__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 175px;  
}

.about__img svg {
    border: 2px solid var(--secondary-accent-color); 
    border-radius: 1rem;  
    box-shadow: 0 0 25px var(--secondary-accent-color);
}

