/*import google fonts and css*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/experience.css");
@import url("sections/projects.css");

:root {
    --background-color: #050A44;
    --secondary-color: #B3B4BD;
    --accent-color: #2C2E3A;
    --hover-color: #0A21C0;
    --secondary-accent-color: #8cf4d8;
    --custom-black: #141619;
    --white: #fff;

    --roboto-flex: "Roboto Flex", serif;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

.cursor {
    background:
        radial-gradient(
            circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
            hsl(236, 65%, 32%),
            transparent 300px
        );
        position:relative;
        background-attachment: fixed;
}


a {
    text-decoration: none;
    color: var(--white)
}